/*formulaire*/
h5{
    cursor: pointer;
}

.champ{
    width: 100%;
}

.openform{
    height:100%;
}

form {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
    width: 400px;
}

.form {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.post {
    
    margin: 20px;
    padding: 20px;
    background-color: #456990;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.article {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    width: 400px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 25px;
    border: 4px solid;
}

.error{
    background-color: red;
}

/*suppression article */
.sup{
    cursor: pointer;
}

.container{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#carousel{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}