/*formulaire*/

h5 {
    cursor: pointer;
}

.champ {
    width: 100%;
}

.openform {
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}

.post {
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.article {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border: 4px solid #77ffb0;
    box-shadow: 8px 5px 5px rgb(126, 126, 126);
}

.article img{
    border-radius: 10px;
    box-shadow: 8px 5px 5px rgb(80, 80, 80);
}

.text{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
    align-content: stretch;
    margin: 20px;
}

.error {
    background-color: red;
}


/*suppression article */

.sup {
    cursor: pointer;
}

.container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 10px;

}

#carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}