/*gallery*/

.selection{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.choix{
    cursor: pointer;
}

.active{
    background-color: #114b5f;
    border-radius: 50%;
}

.image img{
    margin: 20px;
}

.list{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    width: 100%;
}

.mosaic{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: space-around;
}
.form {
    width: 100%;
}
.openform{
    height: 100px;
}

h5{
    cursor: pointer;
}

.champ{
    width: 100%;
}

.post {
    margin: 20px;
    padding: 20px;
    background-color: #456990;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.error{
    background-color: red;
}

