
/*nav*/


ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color:black;
}

.dropdown {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
    align-content: stretch;
    padding: 10px;
    overflow: hidden;
    background:#77ffb0;
    width: 100%;
    cursor: pointer;
}


.menu {
    height: 0px;
    transition: height 0.5s ease-in-out;
    overflow: hidden;
}

.open{
    height: 141px;
}

.menu li {
    font-size: 12px;
    text-transform: uppercase;
    padding: 14px 10px;
    border-top: solid 1px ;
}

/*titre*/

body header div{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

body main{
    height: 100%;
}

  
  