body{
    background-color:#e4fde1 ;
    margin: 0;
    font-family: Courier New;
    font-size: 20px;
}
/*nav*/


ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color:#6b2737;
}

.dropdown {
    overflow: hidden;
    background:#114b5f;
    width: 100%;
    cursor: pointer;
}

.icon {
    color: #6b2737;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 10px;
}

.menu {
    height: 0px;
    transition: height 0.5s ease-in-out;
    overflow: hidden;
}

.open{
    height: 141px;
}

.menu li {
    font-size: 15px;
    text-transform: uppercase;
    padding: 14px 10px;
    border-top: solid 1px #6b2737;
}

/*titre*/

body header div{
    color: #e4fde1;
    background-color: #6b2737;
    text-align: center;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

body main{
    background-color: #e4fde1;
    height: 100%;
}

/*chifoumi*/
.chifoumi{
    margin: 20px;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

h1{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.chi{
    cursor: pointer;
}

.fou{
    cursor: pointer;
}

.mi{
    cursor: pointer;
}


  
  