/*gallery*/

.selection{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.choix{
    cursor: pointer;
}

.active{
    background-color: #114b5f;
    border-radius: 50%;
}

.list{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.mosaic{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: space-around;
}