/*chifoumi*/
.chifoumi{
    margin: 20px;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

h1{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.chi{
    cursor: pointer;
}

.fou{
    cursor: pointer;
}

.mi{
    cursor: pointer;
}